/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Import Google font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

p {
	letter-spacing: 1px;
	line-height: 1.4;
}

ul {
	list-style-type: square;
	list-style-position: inside;
	line-height: 2;
}


/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/****** BASE LAYOUT STYLES ******/
body {
	background: #ECECEC;
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
	background: #FFF;
	padding: 24px 74.5px;
}

/****** NAVIGATION STYLES ******/
header {
	background: #0181ED;
	width: 100%;
	padding: 16px;
	position: fixed;
}

nav {
	max-width: 1024px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
	margin: 0 auto;
	padding: 0 8px;
}

nav a {
	text-decoration: none;
	color: #FFF;
	font-size: .9em;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 8px 0;
}

nav a:hover {
	border-bottom: 1px solid;
	animation-name: hover-colors;
	animation-duration: .5s;
}

@keyframes hover-colors {
	0% {
		color: #fff;
	}
	25% {
		color: #B9F3FF;
	}
	50% {
		color: #DA73BC;
	}
	75% {
		color: #45EC79;
	}
}

/*disables hover on logo link back to homepage index.html*/
.no-hover a:hover {
	border-bottom: 0px none;
	animation-name: none; 
	animation-duration: 0s;
}

/****** TITLE BANNER STYLES ******/ 
.banner {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 116px 0 72px;
	border-bottom: 1px solid #000;
}

.title {
	text-align: center;
}

.title button {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.1em;
	font-weight: 700;
	color: #0181ED;
	letter-spacing: 1px;
	width: 175px;
	height: 40px;
	background: none;
	border: 2px solid #0181ED;
	margin-top: 8px;
}

.title button:hover {
	background: #0181ED;
	color: #fff;
}

.title h1 {
	font-size: 72px;
}

/****** SECTION1 STYLES ******/
.section1 {
	display: flex;
	justify-content: space-between;
	padding: 40px 8px;
}

.section1 section {
	width: 48%;
}

/****** SECTION2 STYLES ******/
.section2 {
	display: flex;
	justify-content: space-between;
	padding: 40px 8px;
	border-bottom: 1px solid #000;
}

.section2 section {
	width: 30%;
}

/****** FOOTER STYLES ******/
footer {
	padding-top: 40px;
	padding-left: 8px;
	line-height: 1.3;
}

footer a {
	text-decoration: none;
	color: #000;
}

.copyright {
	text-align: center;
	padding: 60px 0;
	font-size: small;
}

/****** TITLE BANNER STYLES ******/

.banner-title {
	padding-top: 43px;
	padding-bottom: 40px;
	border-bottom: 1px solid black;
}

.banner-title h1 {
	font-size: 1.5em;
	padding-top: 32px;
	padding-left: 8px;
	padding-right: 8px;
}

.banner-title p {
	padding: 0 8px;
}

/****** SERVICES STYLES ******/

.services-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 2% 0;
}

.services-cards section {
	border: 1px solid #000;
	width: 48%;
	padding: 2%;
	margin: 2% 0;
	background: #F4F3F4;
}

.services-cards p {
	font-size: .8em;
	line-height: 1.5;
}

.services-cards button {
	width: 140px;
	height: 32px;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid #000;
	margin-top: 4%;
}

.services-more-info {
	border-top: 2px solid #000;
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	line-height: 1.5;
}

.services-more-info-copy {
	width: 48%;
}

.services-more-info-copy p,
.services-more-info-copy ul {
	font-size: .9em;
}

.services-more-info ul {
	padding-top: 2.5%;
	letter-spacing: 1px;
}

/****** ABOUT STYLE ******/


.about-1,
.about-2 {
	display: flex;
	padding-top: 40px;
	justify-content: space-between;
	align-items: center;
}

.about-2 {
	flex-direction: row-reverse;
}

.about-1-text,
.about-2-text {
	width: 48%;
}

.about-main h2 {
	font-size: 2em;
}
